<h3 style="padding: 10px;">Culturas e Fases</h3>

<form style="padding: 10px" #formValidate="ngForm">

    <div class="form-row">
        <div class="form-group col-md-1">
          <label for="id">ID Cultura</label>
          <input type="text" [(ngModel)]="cultura.idCultura" class="form-control" id="idCultura" readonly="true" name="idCultura" autocomplete="false">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
          <label for="nomeCultura">Nome da Cultura/Variedade</label>
          <span style="color: red; font-size: 23px;" *ngIf="nomeValidate.invalid"> *</span>
          <input type="text" [(ngModel)]="cultura.nomeCultura" #nomeValidate="ngModel" class="form-control" id="nomeCultura" required="true" name="nomeCultura" autocomplete="false">
        </div>
    </div>

   

      <div class="card text-center" >
        <div class="card-header">
          Fases da Cultura/Variedade
        </div>
        <div class="card-body" style="padding-left: 1px ;">
          <div class="form-row">
           
            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.nomeFase" id="nomeFase" name="nomeFase">
            </div>
           
            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">Inicio(dias)</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.inicioFase" id="inicioFase" name="inicioFase">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">Fim(dias)</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.fimFase" id="fimFase" name="fimFase">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">Kc</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.kc" id="kc" name="kc">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">P. Raiz(cm)</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.profundidadeRaiz" id="profundidadeRaiz" name="profundidadeRaiz">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">P.Murcha(%)</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.pontoMurcha" id="pontoMurcha" name="pontoMurcha">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">Cap.Campo(%)</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.capacidadeCampo" id="capacidadeCampo" name="capacidadeCampo">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">Área S.(Kl)</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.areaSombreada" id="areaSombreada" name="areaSombreada">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">Limite</label>
              <input type="text" class="form-control" [(ngModel)]="culturaFase.limite" id="limite" name="limite">
            </div>

            <div class="form-group col-md-2" style=" min-width: 50px; max-width: 120px;" >
              <label for="nome">D. Aparente</label>
              <input type="number" class="form-control" [(ngModel)]="culturaFase.densidadeAparente" id="densidadeAparente" name="densidadeAparente">
            </div>
           
            <div class="form-group col-md-2">
              <button class="btn btn-primary" (click)="adicionaCulturaFase()">Adicionar</button>
            </div>
          </div>
        </div>
      </div>


  <table >

    <tbody class="table">

      <tr *ngFor="let culturaFase of cultura.culturaFases; let i = index;">
        <td>{{culturaFase.idCulturaFase}}</td>
        <td>{{culturaFase.idCultura}}</td>
        <td>{{culturaFase.nomeFase}}</td>
        <td>{{culturaFase.inicioFase}}</td>
        <td>{{culturaFase.fimFase}}</td>
        <td>{{culturaFase.kc}}</td>
        <td>{{culturaFase.profundidadeRaiz}}</td>
        <td>{{culturaFase.pontoMurcha}}</td>
        <td>{{culturaFase.capacidadeCampo}}</td>
        <td>{{culturaFase.areaSombreada}}</td>
        <td>{{culturaFase.limite}}</td>
        <td>{{culturaFase.densidadeAparente}}</td>
        <td><button class="btn btn-danger" (click)="deletarCulturaFase(culturaFase.idCulturaFase, i)">Delete</button></td>
      </tr>
    </tbody>
  </table>


      <div class="form-row">
        <div class="form-group col-md-6">
            <button type="button" class="btn btn-primary" [routerLink]="['/culturaList']" routerLinkActive="router-link-active">Voltar</button>
            <button type="button" class="btn btn-primary" (click)="novo()"  style="margin-left: 10px;">Novo</button>
            <button type="button" class="btn btn-primary" [disabled]="formValidate.invalid" (click)="salvarCultura()"  style="margin-left: 10px;">Salvar</button>
        </div>
      </div>

</form>