<br/>
<br/>

<form class="form-inline">

  <button type="button" [routerLink]="['/fazendaAdd']" routerLinkActive="router-link-active" style="margin-left: 5px;"    class="btn btn-success mb-2">Novo</button>
  
</form>

<br/>
<br/>

<table class="table">
  <thead class="thread-dark">
    <tr>
      <th scope="col">ID Fazenda</th>
      <th scope="col">Nome da Fazenda</th>
      <th scope="col">Vazão(l/h)</th>
      <th scope="col">Área(ha)</th> 
      <th scope="col">Altitude</th>
      <th scope="col">Data de Cadastro</th>
      <th scope="col">Excluir</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fazenda of fazendas let i = index">
      <td>{{fazenda.idFazenda}}</td>
      <td>{{fazenda.nomeFazenda}}</td>
      <td>{{fazenda.area}}</td>
      <td>{{fazenda.altitude}}</td>
      <td>{{fazenda.dataCadastro}}</td>
      <td><button (click)="excluirFazenda(fazenda.idFazenda, i)" class="btn btn-primary" class="btn btn-primary">Delete</button></td>
      <td><button [routerLink]="['/fazendaAdd', fazenda.idFazenda]" routerLinkActive="router-link-active"class="btn btn-warning">Editar</button></td>

    </tr>
  </tbody>
</table>

