<nb-card>
  <nb-card-header>
    <h1>Precipitação</h1>

    <form class="form-inline">

      <div class="form-group mx-sm-3 mb-2">
        <label for="parcelaSelecionada">Selecione a Parcela</label>
        <select class="form-control" type="number" [(ngModel)]="parcelaSelecionada" id="parcelaSelecionada" required="fase" name="parcelaSelecionada"  >
          <option value="0">--Selecione--</option>
          <option *ngFor="let parcela of parcelas" [ngValue]="parcela.idParcela">{{parcela.nomeParcela}}</option>
        </select>
      </div>
    
      <button type="button"  (click)="buscaPrecipitacoes()" class="btn btn-primary mb-2">Buscar</button>
    
    </form>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="precipitacoes" 
    (editConfirm)="onEditConfirm($event)"
    (createConfirm)="salvarPrecipitacao($event)"
    (deleteConfirm)="excluirPrecipitacao($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
