<nb-layout windowMode>
  <nb-layout-header fixed [hidden]="esconderBarrar()">
    <div class="header-container">
      <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
          <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo">Controle de Irrigação</a>
      </div>
    </div>

    <div class="header-container">
      <nb-actions size="small">
        <nb-action class="control-item">
          <a class="nav-link" (click)="sair()">Sair</a>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>

  <nb-sidebar
    lcass="menu-sidebar"
    tag="menu-sidebar"
    responsive
    [hidden]="esconderBarrar()"
  >
    <nb-menu tag="menu" [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
